
@import url('https://fonts.googleapis.com/css2?family=Mada&family=Share&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    
    
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Patrick Hand', cursive;
    border: 1px solid grey;
    line-height: 2;
    font-size: 2rem;
    background-color:white;
    
}

.headerBackground{
    height:90vh;
    
    background-image:url(https://images.unsplash.com/photo-1570441262582-a2d4b9a916a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1331&q=80);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: top;
    background-attachment:fixed;
  }

 
  



.aboutHeaderContainer{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:1% 0 1% 0;
    width: 100%;
    background-color:#418771;
    position:fixed;
width:100%;
top:0;
   
    
}

.aboutHeaderContainer2{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:1% 0 1% 0;
    width: 100%;
    background-color:#418771;
  
    
}

.aboutHeaderContainer a{
   width: 10%;
}

.aboutHeaderContainer2 a{
    width: 10%;
 }


header nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

header nav a{
    width: 20%;
    font-size: 2.5rem;
    text-align: center;
    background-color:#6F1C2D;
    color: white;
    text-decoration: none;
    border-radius: 7%;
}
#companyInfo{
    font-size: 2rem;
    text-align: center;
    padding:1% 0 1% 0;
    margin-top: 3%;
   
    
}

.logo{
    width: 10%;
}

 h1{
     width:20%;
     font-size 1rem;
    border-top: 1px solid black;
    border-right: 1px solid black;
    margin: 0 auto;
}



.log-in a{
    color: black;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    
}
.aboutContainer{
    display: flex;
    justify-content: center;
    
}

.truckImage{
    display: flex;
    align-items: center;
}

.aboutContainer p{
    width:30%;
    padding:1% 1% 1% 1%;
    margin:1% 1% 1% 1%;
    display: flex;
    align-items: center;
    background-color: burlywood;
}

.log-in {
    text-align: center;
    font-size: 3rem;
    margin:1% 0 1% 0;
}
h2{
    font-size: 3rem;
    font-family: 'Holtwood One SC', serif;
}
.aboutContainer2{
    display: flex;
    justify-content: center;
    
}

.aboutContainer2 p{
    width:30%;
    padding:1% 1% 1% 1%;
    margin:1% 1% 1% 0;
    display: flex;
    align-items: center;
    background-color:#E78959 ;

}



.truckImages{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.truckImages img{
    
    margin: 1% 1% 1% 1%;
}
h3{
    font-size: 3rem;
    text-align: center;
    margin:3% 0 1% 0;
}

#contact{
    display: flex;
    justify-content: center;
    margin: 1% 0 0 0;
}

h4{
    font-size: 3rem;
    text-align: center;
    margin: 2% 0 0 0;
}

.button{
    text-align: center;
    padding: ;
}
.button button{
    font-size: 1.5em;
    margin: 1% 0 1% 0;
    padding: .5% .5% .5% .5%;
    background-color: black;
    color:white;
}

.aboutUs{
    width:95%;
    margin: 0 auto;
    margin-top: 4%;
    display: flex;
    justify-content: center,;
    justify-content: space-evenly;
    flex-wrap: wrap;
    line-height: 1;
    text-align: center;
    font-size: 1.5em;
    
}

.aboutUs img{
    
    margin: 0;

}

.devs h3{
    font-size:6rem;
}


@media(max-width: 860px){
    

    .aboutContainer{
        flex-direction: column;
    }

    .aboutContainer p{
        width: 90%;
        margin: 0 auto;
    }

    .aboutContainer2{
        
        flex-direction: column-reverse;
    }

    .aboutContainer2 p{
        width: 90%;
        margin: 0 auto;
    }

    .truckImage img{
        margin: 0 auto;
        width: 90%;
        height: 30vh;
    }

    .truckImages{
        
        
        width: 90%;
    }

    .truckImages img{
        width: 90%;
        height: 40vh;
    }

    nav a{
        margin: .5% 0 .5% 0;
    }
}

@media(max-width: 730px){
  

    .aboutHeaderContainer{
        
        flex-direction: column;
        justify-content: start;
        
        
        }
    
        .aboutHeaderContainer2{
        
            flex-direction: column;
            justify-content: start;
            
            
            }
    .logo{
        width: 20%;
    }
        .aboutHeaderContainer nav{
            flex-direction: column;
            align-items: center;
            width:80%;
        }

        .aboutHeaderContainer2 nav{
            flex-direction: column;
            align-items: center;
            width:80%;
        }

        .aboutHeaderContainer  a{
            width: 90%;
        }

        .aboutHeaderContainer2  a{
            width: 90%;
        }


        
    
}


@media(max-width: 655px){
    .aboutUs div{
        
        width: 80%;
    }

    .aboutUs img{
        
        width: 90%;

    }
}



    
